<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SL-app</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="station">
    Huddinge sjukhus
</div>



<div class="tider">

    <div class="bubbla">
        <div class="buss">{{Buss1}}</div>
        <div class="tid">{{Tid1}}</div>
    </div>

    <div class="bubbla">
        <div class="buss">{{Buss2}}</div>
        <div class="tid">{{Tid2}}</div>
    </div>

    <div class="bubbla">
        <div class="buss">{{Buss3}}</div>
        <div class="tid">{{Tid3}}</div>
    </div>

    <div class="bubbla">
        <div class="buss">{{Buss4}}</div>
        <div class="tid">{{Tid4}}</div>
    </div>

    <div class="bubbla">
        <div class="buss">{{Buss5}}</div>
        <div class="tid">{{Tid5}}</div>
    </div>

    <div class="bubbla">
        <div class="buss">{{Buss6}}</div>
        <div class="tid">{{Tid6}}</div>
    </div>

    <div class="bubbla">
        <div class="buss">{{Buss7}}</div>
        <div class="tid">{{Tid7}}</div>
    </div>

    <div class="bubbla">
        <div class="buss">{{Buss8}}</div>
        <div class="tid">{{Tid8}}</div>
    </div>

</div>


<div class="busstider">
    <table>
        <tr><td>B</td></tr>
        <tr><td>U</td></tr>
        <tr><td>S</td></tr>
        <tr><td>S</td></tr>
        <tr><td>T</td></tr>
        <tr><td>I</td></tr>
        <tr><td>D</td></tr>
        <tr><td>E</td></tr>
        <tr><td>R</td></tr>
    </table>
</div>




</body>
</html>